#root {
  max-width: 400vw;
  height: 60vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.container {
  background: #4c516d;
  color: aliceblue;
  width: 95vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 35vw;
  border-radius: 3em;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0.2, 0.5);
  height: auto;
  background: #374a5a
}

.screen {
  padding: 1rem;


}

.display {
  width: 100%;
  box-shadow: inset 0 2em 3em rgba(0, 0, 0.2, 0.5);
  color: rgb(0, 9, 16);
  border-radius: 1em;
  margin: auto;
  padding: 2em 0;
  /*place-content: black;*/
  outline: none;
  text-align: right;
  font-size: 30px;


}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em;
}

.btnA {
  background: #ff8b94;
  box-shadow: 2px 6px rgba(0, 0, 0.2, 0.5);
  width: 3.5em;
  height: 3.5em;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  color: #1a1a1a;
  font-weight: 400;
}

.btnfold {
  background: #a7adba;
}

.btnP {
  background: #ffc9c9;
}


.btnG {
  background: #66b2b2;
}

.btnV {
  background: #93b8db;
}

.btnF {
  background: #c9c9ff;
}

.btnY {
  background: #fffeb3;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1.5em;
}